<!DOCTYPE html>

<html>
    <head>
        <title>Online Gas Booking System</title>
        <link rel="stylesheet" href="/style.css">




</head>
<body>
    <div class="wrapper">
        
        <div class="header">
            <div class="logo">
            <a href="#"><img src="/images/gas1.jpg" alt="gas_cylinder"width="140" height="80"/></a>
            </div>
            <div class="webname">
            <h1>Gas Booking System</h1>
            </div>
        </div> 
        <br>
        <div id=nevigation> 
                <hr/>  
                <a href="/"> Home</a> |
                <a href="/login"> Login</a> |
                <a href="/contactus"> Contact Us</a> |

            </div>
        <hr/>
        
        <div>
            <img src="/images/about1.jpeg" style="width:100%;height: 280px;">
        </div>   
        <div class="about-section">
        <p> Welcome to the world of online gas booking:<br/>  
            Life is a bouquet of cherished moments and treasured memories which stay with us forever. These are also the moments that give us true happiness.
            
            Happiness is the fragrance that emanates from the wet earth on the onset of rains. Happiness is the blooming of flowers, the return of foliage, the change in weather and the rush of the wind.
            
            It is in the joy of a mother seeing her child finishing the meals, in the pride of a father on return of his daughter after graduating and in the pleasure of driving with friends to explore new destinations.
            
            Over the years, we at HPCL, have strived to be an integral part of these moments.
            
            Best journeys have no destinations, only milestones. The only thing that is more joyful than being happy is the ability to make others happy along the way. As you cover more milestones on your journey, we promise to keep Delivering Happiness.</p>
              <p> Our Vision :   
            To be a World Class Energy Company known for caring and delighting the customers with high quality products and innovative services across domestic and international markets with aggressive growth and delivering superior financial performance.
            The Company will be a model of excellence in meeting social commitment, environment, health and safety norms and in employee welfare and relations.</p>
            <p> Online gas booking has a vast marketing network consisting of 14 Zonal offices in major cities and 133 Regional Offices facilitated by a Supply & Distribution infrastructure comprising 43 Terminals/TOPS/ Installations, 44 Aviation Fuel Stations, 50 LPG Bottling Plants and 68 Inland Relay/Lube Depots. The customer touch points constitute of 16,868 Retail Outlets, 1,638 SKO/LDO dealers and 6,137 LPG Distributorships, 115 carrying and forwarding agents, 253 Lube distributorships with a customer base of over 8.4 Crore domestic LPG consumers.
            
            Online gas booking has the second largest share of product pipelines in India with a pipeline network length of 3,775 kms.</p>
            </div>
              <div class="footer" style="background-color: #717171;">
                <p><center>
                    Copyright © Online Gas Booking System<br>
                    SiteMap Terms of Use Privacy Policy Hyperlinking Policy<br>
                    Powered By Online Gas System Pvt Ltd
                </center></p>

            </div>
            </div>
</body>
</html>            
